<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dgtale.icsimport"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />
 	<uses-permission android:name="android.permission.READ_CALENDAR" />
    <application
        
        android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.NoDisplay">
        <activity
            android:name="org.dgtale.icsimport.CalendarExportActivity" android:label="@string/export_to">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/event" />                
            </intent-filter>

        </activity>
        <activity
            android:name="org.dgtale.icsimport.CalendarImportActivity"
            android:label="@string/import_from">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/calendar" />
            </intent-filter>

        </activity>
        
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mydomain.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
 
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
 
        </provider>        
        
   </application>


</manifest>
