<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.k3b.android.calendar.ics.adapter"
    android:versionCode="9"
    android:versionName="1.5.3-140412" >

<!-- /*
 * Copyright (C) 2013, 2014 - Daniele Gobbetti and k3b
 * 
 * This file is part of android.calendar.ics.adapter.
 * 
 * This program is free software: you can redistribute it and/or modify it 
 * under the terms of the GNU General Public License as published by 
 * the Free Software Foundation, either version 3 of the License, or 
 * (at your option) any later version. 
 * 
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS 
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License 
 * for more details. 
 * 
 * You should have received a copy of the GNU General Public License along with 
 * this program. If not, see <http://www.gnu.org/licenses/>
 */
  -->    
    
    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />
 	<uses-permission android:name="android.permission.READ_CALENDAR" />
  	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <application
        android:allowBackup="false"
		android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.NoDisplay"
        android:label="@string/app_name" >

        <!-- Hooks into Calendar-gui-view-event : adds "export calendar event" to ics file -->
        <activity
            android:name="de.k3b.android.activity.ACalendar2IcsActivity" android:label="@string/export_chooser_caption_ics">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*" />
                <data android:scheme="content"  />
                <data android:mimeType="vnd.android.cursor.item/event" />                
            </intent-filter>
        </activity>

        <!-- Hooks into Calendar-gui-view-event : adds "export calendar event" to ical file -->
        <activity
            android:name="de.k3b.android.activity.ACalendar2IcalActivity" android:label="@string/export_chooser_caption_ical">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:host="*" />
                <data android:scheme="content"  />
                <data android:mimeType="vnd.android.cursor.item/event" />                
            </intent-filter>
        </activity>

        <!-- Hooks into file-manager-gui-"view-ics-file" : adds "import event to calender" -->
        <activity
            android:name="de.k3b.android.activity.Ics2ACalendarActivity"
            android:label="@string/import_chooser_caption">
            
            <!-- according to http://en.wikipedia.org/wiki/ICalendar .ical or .icalendar fileextension are also used and not blocked by android -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT"/>
				<action android:name="android.intent.action.INSERT"/>
								
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
                <data android:scheme="file"  />
                <data android:scheme="http"  />
                <data android:scheme="https"  />
   				<!-- android does not allow to download *.ics-files via bluetooth but it works with other extensions. 
   					according to http://en.wikipedia.org/wiki/ICalendar .ical and .icalendar are also used. -->
                <data android:pathPattern=".*\\.ics" />
                <data android:pathPattern=".*\\.ical" />
                <data android:pathPattern=".*\\.icalendar" />
   			</intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
				<action android:name="android.intent.action.EDIT"/>
				<action android:name="android.intent.action.INSERT"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/calendar" />
			</intent-filter>
            
        </activity>
      </application>

</manifest>
